---
layout: page
title: Portfolio Pieces
background: '/assets/Images/website_working_2.jpg'
---
<h2>Hello World2</h2>

{% for pp in site.portfolio %}
<p>Please show up</p>
  <div class="col">
    Hello world
  <a href="{{ pp.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="pp-title">{{ pp.title }}</h2>
    {% if pp.subtitle %}
    <h3 class="pp-subtitle">{{ pp.subtitle }}</h3>
    {% else %}
    <h3 class="pp-subtitle">{{ pp.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="pp-meta">Posted by
    {% if pp.author %}
    {{ pp.author }}
    {% else %}
    {{ site.author }}
    {% endif %}
    on {{ pp.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=pp.content %}</p>
</div>

<hr>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Newer<span class="d-none d-md-inline"> Posts</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span
      class="d-none d-md-inline"> Posts</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}