---
maincolor: '#AC716E'
secondarycolor: '#F2CBCB'
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead pb-0 mb-0"
  style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
          <div class="page-heading">
            <h3>A place to share technology tips, book recommendations, and finance research</h3>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- <div class="container-fluid" style="background-color: {{ page.maincolor }}">
    <div class="row ">
      <div class="col-lg-8 col-md-10 col-sm-12 mx-auto text-center">
        <p>
          The best part about technology is belonging to a community who shares.
          Sign up below and I will send you my step-by-step tutorial for hosting a beautiful website for 100% FREE (just like this one!). Literally. No strings attached.
        </p>
      </div>
    </div>
    <form>
      <div class="row justify-content-center align-items-center">
        <div class="offset-1 col-3">
          <div class="form-group">
            <label for="EmailInput"></label>
            <input type="email" class="form-control" id="EmailInput" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="nameInput"></label>
            <input type="text" class="form-control" id="nameInput" placeholder="Name">
          </div>
        </div>
        <div class="col-3">
          <button type="submit" class="btn btn-primary btn-sm h-25 d-inline-block">I Want In!</button>
        </div>
        </div>
    </form>
  </div> -->
  <div class="container py-5">
    <div class="row">
      <div class="col col-lg-6 col-md-12 col-sm-12">
        <div class="row">
          <div class="col">
            <p class="mt-n4">
              <h3>Hi, I'm JoCee</h3>
              I'm a computer engineer. I love technology, math, and
              puzzles. Seriously, I'm one of <i>those</i> people, I do a sudoku every. single. day.
              I also enjoy building web applications. Node.js, GraphQL, and React are my go-tos. I do have experience with
              Python (Django), .Net, Java, R, and a handful of other languages also! I also have a fondness for creating graphics in illustrator.
              If I weren't a computer scientist, I'd probably be a graphic designer.
            </p>
          </div>
        </div>
        <div class="row mt-n5">
          <div class="col-6 col-sm-12 btn btn-main">
            <a href="/about">
              <p class="text-pink">LEARN MORE</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <a href="/assets/Images/about/headshot2.jpg">
          <img src="/assets/Images/about/headshot2.jpg" class=" border-white img-thumbnail"
            alt="Portfolio Piece">
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid bckgrnd"
    style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    <div class="row py-5">
      <div class="col col-lg-6 col-md-8 col-sm-12 mx-auto text-center">
        <span class="transparent">
          <div class="post-heading">
            <h3 class="">“I learned to always take on things I'd never done before. Growth and comfort do not coexist.”</h3>
            <h5 class="subheading">- Ginni Rometty, CEO of IBM</h5>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class=" mt-5 container">
    <div class="row mb-3">
      <div class="col text-center">
        <h1 style="color: {{page.maincolor}}">Commonly Asked Questions</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Did you graduate college?</h3>
        <p>
          Yes! I have a Computer Engineering degree from the <a href="https://www.utah.edu/">University of Utah</a>. It took me a lengthy 6 years to graduate.
          The final 2 years of school, I dropped to part time, so that I could work as a software engineer full time.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>How do you recommend learning to code?</h3>
        <p>
          I learned to code through attending a University! I recommend this experience to anyone, if you have the time and means.
          I also suggest checking out codecademy which has great free resources. My biggest recommendation is to just start
          a project. Build a personal website (like this one!), you will learn how a website works, what a client and server is, 
          what a DNS is, and how to point it! There are plenty of tutorials online, and if you would like mine, <a href="/featuredPosts/free-website">check it out here</a>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>What language do you use?</h3>
        <p>
          I get asked this question all the time. I use JavaScript (Node.js) for my personal projects, and Python (Django) at work.
          The greatest thing about learning to code, is that you don't learn just one language. You learn programming skills and 
          concepts. These concepts are interchangable to any lanuguage.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center mb-3 mt-5">
        <h1 style="color: {{page.maincolor}}">Featured posts</h1>
      </div>
    </div>
      {% for featuredPost in site.featuredPosts %}
      <div class="row my-3">  
        <div class="col-lg-4 col-md-4 col-sm-0 align-items-center d-none d-lg-block">
          <div class="image">
              <span class="black_span">
              <a href="{{ featuredPost.url | prepend: site.baseurl | replace: '//', '/' }}">
                <img src="{{ featuredPost.thumbnail | prepend: site.baseurl | replace: '//', '/' }}"
                  class=" border-white" alt="Portfolio Piece">
              </a>
            </span>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 mb-9">
          <a href="{{ featuredPost.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h3 class="text-center">{{featuredPost.title}}</h3>
          </a>
            {% for tag in featuredPost.tags %}
              <span class="badge badge-pill primary-color">{{tag}}</span>
            {% endfor %}
            <p class="small-font">{{featuredPost.description}}</p>
            <a href="{{ featuredPost.url | prepend: site.baseurl | replace: '//', '/' }}">
              <button type="submit" class="btn btn-secondary bckgrnd-dark btn-sm">{{featuredPost.button_name}}</button>
            </a>
        </div>
      </div>
      <hr>
      {% endfor %}
  </div>
  <div class="container">
    <div class="row mb-3">
      <div class="col text-center">
        <h1 style="color: {{page.maincolor}}">My Desk Setup</h1>
        <p>The items I use to code every single day! I'm a fan of feminine, sophisticated tech products.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% include carousel.html height="50" unit="%" duration="7" %}
      </div>
    </div>
  </div>
