---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            {% if page.buttonText %}
            <a class="btn float-left" href="{{ page.buttonUrl }}"
            data-toggle="tooltip" data-placement="top" title="{{ page.buttonText }}"><p class="m-0">{{ page.buttonText }}</p>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h2>Featured Products</h2>
    </div>
  </div>
  <div class="row">
    {% for product in site.products limit: 3 %}
      <div class="col">
        <a target="_blank" href="{{ product.link }}">
          <img class="basic-image outline-image" src="{{ product.image | prepend: site.baseurl | replace: '//', '/' }}" alt="{{ product.title }}">
        </a>
        <p class="image-caption">{{ product.title }}</p>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col col-lg-6 d-md-block d-none panel-img" style="background-image: url('{{ page.panelImage | prepend: site.baseurl | replace: '//', '/' }}')">
    </div> 
    <div class="col col-lg-6 col-md-6 col-sm-12 primary-color">
      <div class="row pt-5 justify-content-center">
        <div class="col text-center">
          <p class="p-0 m-0">{{ page.topText}}</p>
        </div>
      </div>
      <div class="row justify-content-center p-0 m-0">
        <div class="col text-center">
          <p class="p-0 m-0" style="font-family: 'Vidaloka', serif; font-size: 32px;">{{ page.middleText}}</p>
        </div>
      </div>
      <div class="row justify-content-center p-0 m-0">
        <div class="col text-center">
          <p class="p-0 m-0" style="font-family: 'Crafty Girls', cursive;">{{ page.botomText}}</p>
        </div>
      </div>
      <div class="row pt-3 pb-5 justify-content-center">
        <div class="col-4 align-items-center">
          {% if page.panelButtonText %}
            <a class="btn btn-secondary btn-sm" href="{{ page.panelButtonUrl }}"
            data-toggle="tooltip" data-placement="top" title="{{ page.panelButtonText }}"><p class="m-0">{{ page.panelButtonText }}</p>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 pt-3 mb-0 justify-content-center">
    <div class="col text-center">
      <h3>Wear it in your style</h3>
    </div>
  </div>
  <div class="row mt-2 pt-2">
    {% for product in site.products limit: 4 offset: 3 %}
      <div class="col">
        <a target="_blank" href="{{ product.link }}">
          <img class="basic-image outline-image" src="{{ product.image | prepend: site.baseurl | replace: '//', '/' }}" alt="{{ product.title }}">
        </a>
      </div>
    {% endfor %}
  </div>
</div>
<div class="container-fluid bckgrnd primary-color mt-5 mb-0 pb-0">
  <div class="row ">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto text-center">
      <p>
        The best part about technology is belonging to a community who shares.
        Sign up below and I will send you my step-by-step tutorial for hosting a beautiful website for 100% FREE. Literally. No strings attached.
      </p>
    </div>
  </div>
  <form>
    <div class="row justify-content-center align-items-center">
      <div class="offset-1 col-3">
        <div class="form-group">
          <label for="EmailInput"></label>
          <input type="email" class="form-control" id="EmailInput" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="nameInput"></label>
          <input type="text" class="form-control" id="nameInput" placeholder="Name">
        </div>
      </div>
      <div class="col-3">
        <button type="submit" class="btn btn-sm h-25 d-inline-block" style="background-color: {{ page.secondaryColor }}">I Want In!</button>
      </div>
      </div>
    </form>
  </div>
